# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs/Edits
.vscode/
.idea/
*.code-workspace

# Dependencias de Node.js
node_modules/
package-look.json

# Archivos temporales
*.tmp
*.swp

# Build outputs
dist/
build/

# Environment files
.env
.env.local